/*:root sirve para declarar variables globales de css si quisiesemos seguir expandiendo nuestro proyectos los variables de colores y tamaños se deberian declarar aqui como variables globales*/

/*Fuente global*/
html, body {
  font-family: 'Quicksand', sans-serif;
}

/*Imagenes*/
.image-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
}

.image-item {
  flex: 0 0 23%;
}

.image-item img {
  max-width: 100%;
  height: auto;
}

/*Ancla footer hacia parte superior*/
.return-link {
  color: white;    
  font-size: 13px;   
}

/*Hover galeria imagenes*/
.img-transition {
  transition: transform 0.3s ease;
}

.img-transition:hover {
  transform: scale(1.1);
}

/*Separacion nav del primer elemento container*/
/*Separacion iconos*/
#enlaces a {
  margin-right: 20px;
}

/*Separacion informacion general footer*/
#informacion-general {
  margin-bottom: 48px;
}

/*Separacion del texto con la imagen */
#informacion-general p {
  margin-top: 10px;
}

/*Justificar el texto de los proyectos*/
.text-justify {
  text-align: justify;
  letter-spacing: -0.5px;
}

/*Cursor de la tabla*/
table {
  cursor: pointer;
}
 /*Distancia footer ultimo contenedor*/
footer {
  margin-top: 48px;
}

/* Ajustes altura boton y texto de los proyectos de informacion general */
.image-item.project-container a.btn {
  margin-bottom: 10px; 
}

.image-item.project-container p {
  margin-top: 10px; 
}